body {
	margin: 0;
	padding: 0;
	background-color: black;
}


#display, #mapdisplay {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 30px;
	z-index: 1;
}

#mapdisplay {
	z-index: 0;
}

#announcement{
	z-index: 2;
	font-family: helvetica;
	font-size: 4.3em;
	color: white;
	font-weight: lighter;
	text-shadow: 0 0 4px black;
	margin: auto;
	left:0;
	right:0;
	top: 300px;
	text-align: center;
	position: absolute;
	opacity: 0;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
}

#level {
	z-index: 2;
	font-family: helvetica;
	font-size: 3.3em;
	color: white;
	font-weight: lighter;
	text-shadow: 0 0 4px black;
	margin: auto;
	right: 30px;
	top: 30px;
	text-align: center;
	position: absolute;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
}

#footer {
	z-index: 2;
	font-family: helvetica;
	font-size: 0.9em;
	color: white;
	font-weight: lighter;
	text-shadow: 0 0 4px black;
	margin: auto;
	right: 30px;
	bottom: 30px;
	text-align: center;
	position: absolute;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
}

#start {
	z-index: 2;
	font-family: helvetica;
	font-size: 4.3em;
	color: white;
	font-weight: lighter;
	text-shadow: 0 0 4px black;
	margin: auto;
	left:0;
	right:0;
	top: 300px;
	text-align: center;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	padding-top:10px;
	padding-bottom:10px;
	cursor: pointer;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
}